{% extends "main.html" %}
{% block tabs %}
{{ super() }}
<style>

  .md-main {
    flex-grow: 1;
  }

  .md-main__inner {
    display: flex;
    height: 100%;
  }

  .tx-container {
    padding-top: .0rem;
    background: linear-gradient(to bottom, #1f3899, hsla(160deg,100%,100%,1) 99%, #fff 99%);
    padding-bottom: 0.2rem;
  }

  .tx-hero {
    margin: 32px 2.8rem;
    justify-content: center;
  }

  .tx-hero h1 {
    margin-bottom: 0;
    color: currentColor;
    font-weight: 700;
    font-size: 4em;
  }

  .tx-hero__content {
    padding-bottom: 1rem;
    margin: 0 auto;
    color:#fff;
  }

  .tx-hero__content p {
    margin:0 0 10px;
    font-size: 1.5em;
  }

  .tx-hero__image{
    width:17rem;
    height:17rem;
    order:1;
    padding-right: 2.5rem;
  }


  .feature-item h2 svg {
    height: 30px;
    float: left;
    margin-right: 10px;
    transform: translateY(10%);
  }

  .top-hr {
    margin-top: 42px;
  }

  .feature-item {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    box-sizing: border-box;
    padding: 0 15px;
    word-break: break-word
  }

  .feature-item h2 {
    color: #333;
    font-weight: 300;
    font-size: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: inherit;
  }

  .feature-item p {
    font-size: 16px;
    line-height: 1.8em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: #111;
    margin: 0 0 10px;
    display: block;
  }

  @media screen and (max-width:30em) {
    .tx-hero h1 {
      font-size: 1.4rem
    }
  }

  @media screen and (min-width:60em) {
    .md-sidebar--secondary {
      display: none
    }

    .tx-hero {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .tx-hero__content {
      max-width: 22rem;
      margin-top: 3.5rem;
      margin-bottom: 3.5rem;
      margin-left: 1.0rem;
      margin-right: 4.0rem;
      align-items: center;
    }
  }

  @media screen and (min-width:76.25em) {
    .md-sidebar--primary {
      display: none
    }

    .top-hr {
      width: 100%;
      display: flex;
      max-width: 61rem;
      margin-right: auto;
      margin-left: auto;
      padding: 0 .2rem;
    }

    .bottom-hr {
      margin-top: 10px;
      width: 100%;
      display: flex;
      max-width: 61rem;
      margin-right: auto;
      margin-left: auto;
      padding: 0 .2rem;
    }

    .feature-item {
      flex: 1;
      min-width: 0;
    }

    .feature-item:hover {
      border-radius: 3px;
    }
  }

  .hr {
    border-bottom: 1px solid #eee;
    width: 100%;
    margin: 20px 0;
  }

  .text-center {
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    font-family: 'Lato', sans-serif;
    font-size: 23px;
    font-weight: 300;
    padding-bottom: 10px;
  }

  .logos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    margin: 0 auto;
  }

  .logos img {
    flex: 1 1 auto;
    padding: 25px;
    max-height: 130px;
    vertical-align: middle;
  }

  .hr-logos {
    margin-top: 0;
    margin-bottom: 30px;
  }

  .md-footer-meta__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1.0rem;
  }

  .md-footer-social {
    padding-top: 20px;
  }

  .tx-hero__content  .md-source__icon {
    height: 1rem;
    width: 1.5rem;
  }

  .tx-hero__content .md-button {
    padding: .625em 1em;
  }

  .tx-hero__content .md-source__icon svg {

    margin: -4px -5px 0 0;
  }
</style>
<section class="tx-container">
  <div class="md-grid md-typeset">
    <div class="tx-hero">

      <div class="tx-hero__content">
        <h1>Trustie Wiki</h1>
        <p>Documentation for the Trustie Matrix MIDATA Chat Component</p>
        <a href="/medicaach/Trustie/Get%20Started/" title="Get started" class="md-button md-button--primary">
          Get started
        </a>
        <a href="{{ config.repo_url }}" title="{{ lang.t('source.link.title') }}" class="md-button">

          Go to Github Repository
        </a>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block content %}{% endblock %}
